@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #F2F2F2;
}

.navbar {
    z-index: 3;
    background-color: #333333;
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    gap: 280px;
    position: fixed;
    top: 0;
}

.navbar ul {
    font-size: 17px;
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 24px 0;
}

.navbar>a {

    color: white;
    text-decoration: none;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bolder;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.Hero {
    /* position: relative;
    top: 75px; */
    z-index: 1;
    background-image: url(https://koa.com/blog/images/family-camping-at-sunset.jpg?preset=heroimagecropped);
    background-position: center 62%;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.opacity {
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

}

.text-and-button {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    gap: 10px;
    color: white;
    /* background-color: blue; */
}

.text-and-button p {
    text-align: center;
    /* width: 750px; */
    padding: 0 80px;
}

.Hero h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.Hero p {
    font-weight: lighter;
    font-size: 20px;
    /* text-align: center; */
    /* padding: 10px 70px; */
}

.button a {
    color: black;
    text-decoration: none;
}

.button {
    color: black;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px;
    margin-top: 40px;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.service-heading {
    text-align: center;
    margin-top: 80px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}

.service-heading h1 {
    font-size: 2rem;
}

.service-heading p {
    font-size: 1rem;
}

.image-and-text {
    width: 365px;
    height: 330px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-and-text p {
    padding: 0 30px;
    text-align: center;
    margin-top: 10px;
}

.image-and-text h3 {
    margin-top: -10px;
}

.image-and-text img {
    margin-bottom: 40px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-heading {
    text-align: center;
    margin-top: 80px;
}

.about-heading h1 {
    font-size: 2rem;
}

.about-heading p {
    font-size: 1rem;
}

.our-story {
    padding: 20px 170px 80px
}

.our-story p {
    margin: 10px 0 30px;
}

.our-story ul {
    margin: 10px 20px;
    line-height: 24px;
}

.contact {
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-heading {
    text-align: center;
}

.contact-heading h1 {
    font-size: 2rem;
}

.contact-heading p {
    font-size: 1rem;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.contact li {
    display: flex;
    gap: 10px;
    line-height: 35px;
    align-items: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact input {
    width: 530px;
    height: 50px;
    padding: 10px;
    border: 1px solid #BFBFBF;
    font-size: 16px;
}

.contact-us {
    text-align: center;
    padding: 0px 0 50px;
}

textarea {
    padding: 10px;
    border-color: #BFBFBF;
    font-size: 16px;
}

.contact .material-icons {
    font-size: 20px;
    color: #7A7A7A;
}

.footer button {
    width: 150px;
    padding: 8px 0;
    background-color: #333333;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.button:hover {
    transition: ease-in 0.2s;
    border: 1px solid white;
    color: white;
    background-color: rgba(244, 244, 244, 0.2);
}

.button a:hover {
    color: white;
    text-decoration: none;
    transition: ease-in 0.2s;

}